<header id="header">
  <h1>todos</h1>
  <input id="new-todo" placeholder="What needs to be done?" autofocus>
</header>
<!-- This section should be hidden by default and shown when there are todos -->
<section id="main">
  <input id="toggle-all" type="checkbox">
  <label for="toggle-all">Mark all as complete</label>
  {{collection "App.TodoItemView" collectionObserveBinding="App.todoAppController.items" id="todo-list"}}
</section>
<!-- This footer should hidden by default and shown when there are todos -->
<footer id="footer">
  <!-- This should be `0 items left` by default -->
  <span id="todo-count">{{bind "App.todoAppController.itemCount" tag="strong"}} items left</span>
  <!-- Remove this if you don't implement routing -->
  <ul id="filters">
    <li>
      <a class="selected" href="/">All</a>
    </li>
    <li>
      <a href="/active">Active</a>
    </li>
    <li>
      <a href="/completed">Completed</a>
    </li>
  </ul>
  <button id="clear-completed">Clear completed (1)</button>
</footer>