<div class="view">
	{{view "App.CheckboxControl" valueBinding="completed" classHtml="toggle"}}
	{{view "App.TodoItemLabelView" valueObserveBinding="name"}}
	<button class="destroy" {{action "removeItem"}}></button>
</div>
{{view "App.TextControl" name="textBox" valueBinding="name" classHtml='edit' keyUpAction="checkKey"}}