<p>{{i18n "todo.doubleClickEdit"}}</p>
<p>{{i18n "todo.createdBy" NAME="Tom Cully" URL="http://mozart.io"}} - <a href="http://github.com/tomcully/todomvc-mozart">{{i18n "todo.fullSource"}}</a></p>
<p>{{i18n "todo.partOf" NAME="TodoMVC" URL="http://todomvc.com"}}</p>